# OS Files
.DS_Store

# Rust
/target

# Node.js
node_modules/

# Python
venv/
.venv/
backend/venv/
__pycache__/
*.py[cod]
*.so
dist/
build/
*.egg-info/
*.dist-info/

# Environment Variables
**/.env

# IDE
.vscode/
.idea/
backend/eliza-starter/.vscode*/

# Git
**/.git/
**/.github/

# Build outputs
dist/
build/
